:root
  --meter-height: 20px
  --skills-font-size: 14pt

@media screen and (max-width: 1000px)
  :root
    --skills-font-size: 16pt

  code
    font-family: var(--monospace-font)
    font-size: 12pt

.view-switcher.noscript
  display: none

.view-switcher:not(.noscript)
  display: flex
  flex-direction: row
  align-items: center
  float: right

.view-switcher span:first-child
  color: var(--subtle-content-color)
  margin-right: 5px
  font-size: 80%
  font-style: italic
  transition: color 0.2s ease
  user-select: none

.view-switcher:hover span:first-child
  color: var(--side-content-color)

.view-switcher .button
  color: var(--side-content-color)
  cursor: pointer

.skills
  margin: 10px 0
  font-size: var(--skills-font-size)
  animation: fadeIn 0.3s ease

@media screen and (max-width: 1000px)
  .skills
    margin: 10px 0 16px 0

.skills .entry .qualifier
  color: var(--side-content-color)
  font-style: italic
  font-size: 80%

.skills.small
  --item-size: 64px
  display: grid
  grid-template-columns: repeat(auto-fill, var(--item-size))
  row-gap: 5px
  column-gap: 5px

.skills.small .entry
  border: 2px solid var(--border-color)
  display: flex
  align-items: center
  justify-content: center
  width: var(--item-size)
  height: var(--item-size)
  border-radius: 5px
  padding: 10px
  box-sizing: border-box
  cursor: pointer
  transition: border-color 0.2s linear

.skills.small .entry:hover
  border-color: var(--focus-border-color)

.skills.small a > .entry
  border-color: var(--link-color)

.skills.small a > .entry:hover
  border-color: var(--hover-link-color)

.skills.small .entry > .icon
  width: 100%
  height: 100%
  object-fit: contain

/* Grid format (default) */
.skills.grid
  --item-width: 160px
  --item-height: 100px
  --item-icon-size: 30pt
  --indicator-font-size: 80%
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(var(--item-width), 1fr))
  row-gap: 10px
  column-gap: 10px

.skills.grid .entry
  border: 2px solid var(--border-color)
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  min-height: var(--item-height)
  border-radius: 5px
  padding: 10px 10px 0 10px
  box-sizing: border-box
  cursor: pointer
  transition: border-color 0.2s linear

.skills.grid .entry:hover
  border-color: var(--focus-border-color)

.skills.grid .entry > .icon
  height: var(--item-icon-size)
  max-width: calc(1.5 * var(--item-icon-size))
  object-fit: contain
  margin-bottom: 5px

.skills.grid .entry > .name
  word-wrap: break-word
  width: 100%
  text-align: center

.skills.grid .entry > .meter
  height: 10px
  margin-top: 3px

.skills.grid .entry > .indicator
  color: var(--side-content-color)
  font-size: var(--indicator-font-size)
  margin: 3px 0

/* List format */
.skills.list
  --indicator-font-size: 80%
  display: grid
  grid-template-columns: auto
  row-gap: 10px
  max-width: 550px

.skills.list .entry
  display: grid
  grid-template-columns: 18pt 3fr 7fr auto
  column-gap: 10px

@media screen and (max-width: 1000px)
  .skills.list .entry
    grid-template-columns: 18pt 4fr 6fr auto

.skills.list .entry > .icon
  width: 18pt
  height: 18pt
  object-fit: contain
  margin: auto

.skills.list .entry > .indicator
  color: var(--side-content-color)
  font-size: var(--indicator-font-size)
  width: 3em

/*
 * No meter tag because Chromium is broken:
 * https://bugs.chromium.org/p/chromium/issues/detail?id=632510
 */
.meter
  --good-color: #40BB45
  --ok-color: #FDD835
  --bad-color: #CC4600
  width: 100%
  height: var(--meter-height)
  border-radius: 5px
  overflow: hidden
  background-color: #EEEEEE
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset

.meter > div
  height: inherit

.meter.meter-good > div
  background-color: var(--good-color)

.meter.meter-ok > div
  background-color: var(--ok-color)

.meter.meter-bad > div
  background-color: var(--bad-color)

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1
