@import "media"

#navbar-wrapper
  display: flex
  flex-direction: row
  align-items: flex-start
  width: 100%

#navbar-top-container
  width: 100%

#navbar-arrow
  display: flex
  flex-direction: row
  height: calc(var(--description-line-height) * var(--description-font-size))
  padding-right: 20px
  cursor: pointer

  @media $screen-medium
    display: none

  img
    transition: transform 0.2s ease
    transform: rotate(0deg)

    #navbar-wrapper.opened &
      transform: rotate(90deg)

#navbar-top
  opacity: 0
  height: 0
  visibility: hidden
  transition: opacity 0.3s linear

  @media $screen-medium
    opacity: 1
    height: auto
    visibility: visible

  #navbar-wrapper.opened &
    opacity: 1
    height: auto
    visibility: visible

  ul
    list-style-type: none
    margin: 0
    padding: 0

  a
    color: var(--main-content-color)
    font-family: var(--head-font)
    font-size: var(--description-font-size)
    text-decoration: none

#description-wrapper
  position: relative
  overflow: hidden
  font-size: var(--description-font-size)
  width: 100%
  height: calc(var(--description-font-size) * var(--description-line-height))
  cursor: pointer

  @media $screen-medium
    cursor: default

  h2
    color: var(--side-content-color)
    max-width: 750px
    user-select: none
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden

  &.animated h2
    animation: 0.4s ease-in-out 0.7s slideUp
    animation-iteration-count: 1
    animation-fill-mode: forwards

#description2
  position: absolute
  top: calc(-1 * var(--description-font-size) * var(--description-line-height))

@keyframes slideUp
  from
    transform: translate(0, 0)
  to
    transform: translate(0, calc(var(--description-font-size) * var(--description-line-height)))
