@import "media"

#navbar-bottom
  display: flex
  flex-direction: row
  align-items: center

  @media $screen-medium
    justify-content: center

    i.material-icons
      font-size: 36px

  a
    margin: 0 1px
    color: var(--main-content-color)

  img
    margin: 0 2px
    height: 20px

    @media $screen-medium
      height: 32px

  .vseparator
    display: inline-block
    height: 24px
    width: 1px
    margin: 0 5px
    background-color: var(--focus-border-color)

    @media $screen-medium
      height: 36px
