.overview
  font-size: 12pt
  animation: fadeIn 0.3s ease

  .entry .qualifier
    color: dimgray
    font-style: italic
    font-size: 80%

  // List format
  &
    --indicator-font-size: 90%
    display: grid
    grid-template-columns: auto
    row-gap: 10px

    .entry
      display: grid
      grid-template-columns: 18pt 2fr 7fr auto
      column-gap: 10px

      & > .icon
        width: 18pt
        height: 18pt
        object-fit: contain
        margin: auto

      & > .indicator
        align-self: center
        color: dimgray
        font-size: 10pt
        width: 3em
        font-weight: bold

/*
 * No meter tag because Chromium is broken:
 * https://bugs.chromium.org/p/chromium/issues/detail?id=632510
 */
.meter
  margin: auto 0
  height: 10pt
  width: 100%
  border-radius: 5px
  overflow: hidden
  background-color: #EEEEEE
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset

  & > div
    height: inherit

  &.meter-good > div
    background-color: #40BB45

  &.meter-ok > div
    background-color: #FDD835

  &.meter-bad > div
    background-color: #CC4600

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1
