@import "media"

:root
  --meter-height: 20px
  --skills-font-size: 14pt

  @media $screen-large
    --skills-font-size: 16pt

.view-switcher
  display: flex
  flex-direction: row
  align-items: center
  float: right

  &.noscript
    display: none

  span:first-child
    color: var(--subtle-content-color)
    margin-right: 5px
    font-size: 80%
    font-style: italic
    transition: color 0.2s ease
    user-select: none

    ^[0]:hover ^[-1..-1]
      color: var(--side-content-color)

  .button
    color: var(--side-content-color)
    cursor: pointer

.skills
  margin: 10px 0
  font-size: var(--skills-font-size)
  animation: fadeIn 0.3s ease

  @media $screen-large
    margin-bottom: 16px

  .entry .qualifier
    color: var(--side-content-color)
    font-style: italic
    font-size: 80%

  // Small format
  &.small
    --item-size: 64px

    display: grid
    grid-template-columns: repeat(auto-fill, var(--item-size))
    row-gap: 5px
    column-gap: 5px

    .entry
      border: 2px solid var(--border-color)
      display: flex
      align-items: center
      justify-content: center
      width: var(--item-size)
      height: var(--item-size)
      border-radius: 5px
      padding: 10px
      box-sizing: border-box
      cursor: pointer
      transition: border-color 0.2s linear

      &:hover
        border-color: var(--focus-border-color)

      & > .icon
        width: 100%
        height: 100%
        object-fit: contain

      ^[1] a > ^[-1..-1]
        border-color: var(--link-color)

        &:hover
          border-color: var(--hover-link-color)

  // Grid format (default)
  &.grid
    --item-width: 160px
    --item-height: 100px
    --item-icon-size: 30pt
    --indicator-font-size: 80%

    display: grid
    grid-template-columns: repeat(auto-fill, minmax(var(--item-width), 1fr))
    row-gap: 10px
    column-gap: 10px

    .entry
      border: 2px solid var(--border-color)
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      min-height: var(--item-height)
      border-radius: 5px
      padding: 10px 10px 0 10px
      box-sizing: border-box
      cursor: pointer
      transition: border-color 0.2s linear

      &:hover
        border-color: var(--focus-border-color)

      & > .icon
        height: var(--item-icon-size)
        max-width: calc(1.5 * var(--item-icon-size))
        object-fit: contain
        margin-bottom: 5px

      & > .name
        word-wrap: break-word
        width: 100%
        text-align: center

      & > .meter
        height: 10px
        margin-top: 3px

      & > .indicator
        color: var(--side-content-color)
        font-size: var(--indicator-font-size)
        margin: 3px 0

  // List format
  &.list
    --indicator-font-size: 80%
    display: grid
    grid-template-columns: auto
    row-gap: 10px
    max-width: 550px

    .entry
      display: grid
      grid-template-columns: 18pt 3fr 7fr auto
      column-gap: 10px

      @media $screen-large
        grid-template-columns: 18pt 4fr 6fr auto

      & > .icon
        width: 18pt
        height: 18pt
        object-fit: contain
        margin: auto

      & > .indicator
        color: var(--side-content-color)
        font-size: var(--indicator-font-size)
        width: 3em

/*
 * No meter tag because Chromium is broken:
 * https://bugs.chromium.org/p/chromium/issues/detail?id=632510
 */
.meter
  --good-color: #40BB45
  --ok-color: #FDD835
  --bad-color: #CC4600

  width: 100%
  height: var(--meter-height)
  border-radius: 5px
  overflow: hidden
  background-color: #EEEEEE
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset

  & > div
    height: inherit

  &.meter-good > div
    background-color: var(--good-color)

  &.meter-ok > div
    background-color: var(--ok-color)

  &.meter-bad > div
    background-color: var(--bad-color)

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1
