// section.project
//     margin-bottom: 0

// section.project:not(:first-child)
//     margin-top: 0

// Alternate coloring
// section.project.block:nth-of-type(2n)
//     background-color: #efefef
//     border-left: 3px solid #4f6c89

.project
    .project-content-container
        display: flex
        flex-direction: row
        align-items: flex-start

    for n in 1..6
        h{n}
            text-transform: none

    .icon
        width: 2.4em
        max-height: 2.4em
        object-fit: contain
        height: auto
        margin: 3px 10px 0 0

    .brief
        font-weight: bold
