:root
  --tag-font-size: 12pt

.project
  overflow: auto

  .icon
    width: 48px
    max-height: 48px
    object-fit: contain
    height: auto
    float: left
    margin: 3px 10px 0 0

  .brief
    font-weight: bold

ul.tag-list
  display: block
  list-style-type: none
  margin: 0
  padding: 0

  li
    display: inline-block
    border-radius: 3px
    padding: 3px
    font-family: var(--monospace-font)
    font-size: var(--tag-font-size)
    line-height: 1
    margin: 3px 3px 3px 0
    background-color: var(--alt-block-background-color)
    border: 1px solid var(--focus-border-color)
    cursor: default

    &.warn
      font-weight: bold
      color: red

    &.info
      font-weight: bold

  img
    float: left
    margin-right: 3px
    height: var(--tag-font-size)

    &:last-of-type
      margin-right: 0.5em
