:root.theme-light
  --main-content-color: black
  --side-content-color: gray
  --subtle-content-color: #CCCCCC
  --block-background-color: aliceblue
  --alt-block-background-color: aliceblue
  --background-color: white
  --focus-border-color: dimgray
  --border-color: gainsboro
  --link-color: #0074D9
  --hover-link-color: #37a2ff

