@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
    --navbar-margin: 40px;
    --navbar-padding: 10px;
    --navbar-height: 36px;

    --head-font: 'Bree Serif', sans-serif;
    --head-font-size: 48pt;

    --content-font: 'Source Sans Pro', sans-serif;
    --content-font-size: 13pt;
    --monospace-font: 'Fira Code', 'Cascadia Code', monospace;

    --description-font-size: 28pt;
    --description-line-height: 1.7;

    --section-head-font-size: 22pt;
    --subsection-head-font-size: 16pt;

    --container-width: 1000px;

    font-family: var(--content-font);

    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

code {
    font-family: var(--monospace-font);
    font-size: 11pt;
}

@media screen and (max-width: 1000px) {
    :root {
        --head-font-size: 52pt;
        --content-font-size: 16pt;
        --description-font-size: 32pt;
        --section-head-font-size: 28pt;
        --subsection-head-font-size: 20pt;
    }

    code {
        font-family: var(--monospace-font);
        font-size: 12pt;
    }
}

i.material-icons {
    user-select: none;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: var(--content-font-size);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', sans-serif;
    margin: 0;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    color: initial;
    text-decoration: none !important;
}

h1 {
    font-size: var(--head-font-size);
}

h2 {
    font-size: var(--description-font-size);
    line-height: var(--description-line-height);
}

h3 {
    font-size: var(--section-head-font-size);
}

h4 {
    font-size: var(--subsection-head-font-size);
}

a {
    text-decoration: none;
    color: #0074D9;
    font-family: inherit;
}

a:hover {
    text-decoration: underline;
}
