:root {
    --meter-height: 20px;
    --skills-font-size: 14pt;
}

.view-switcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
}

.view-switcher span:first-child {
    margin-right: 10px;
    color: gainsboro;
    font-style: italic;
    transition: color 0.2s ease;
    user-select: none;
}

.view-switcher:hover span:first-child {
    margin-right: 10px;
    color: gray;
    font-style: italic;
}

.view-switcher .button {
    cursor: pointer;
}

.skills {
    margin: 10px 0;
    font-size: var(--skills-font-size);
}

.skills .entry .qualifier {
    font-style: italic;
    font-size: 80%;
    color: gray;
}

/* Grid format (default) */
.skills.grid {
    --item-width: 160px;
    --item-height: 100px;

    --item-icon-size: 30pt;
    --indicator-font-size: 10pt;

    display: grid;
    grid-template-columns: repeat(auto-fit, var(--item-width));
    row-gap: 10px;
    column-gap: 10px;
}

.skills.grid .entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: var(--item-width);
    min-height: var(--item-height);

    border: 1px solid gainsboro;
    border-radius: 5px;

    padding: 10px 10px 0 10px;
    box-sizing: border-box;

    cursor: pointer;

    transition: border-color 0.2s linear;
}

.skills.grid .entry:hover {
    border-color: dimgray;
}

.skills.grid .entry > .icon {
    width: var(--item-icon-size);
    height: var(--item-icon-size);
    object-fit: contain;
    margin-bottom: 5px;
}

.skills.grid .entry > .name {
    word-wrap: break-word;
    width: 100%;
    text-align: center;
}

.skills.grid .entry > .meter {
    height: 10px;
    margin: 3px 0;
}

.skills.grid .entry > .indicator {
    font-size: var(--indicator-font-size);
    color: gray;
    margin: 3px 0;
}

/* List format */
.skills.list {
    --indicator-font-size: 10pt;

    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
    max-width: 550px;
}

.skills.list .entry {
    display: grid;
    grid-template-columns: 18pt 1fr 3fr auto;
    column-gap: 10px;
}

.skills.list .entry > .icon {
    width: 18pt;
    height: 18pt;
    object-fit: contain;
    margin: auto;
}

.skills.list .entry > .indicator {
    font-size: var(--indicator-font-size);
    width: 3em;
    color: gray;
}

/*
 * No meter tag because Chromium is broken:
 * https://bugs.chromium.org/p/chromium/issues/detail?id=632510
 * I don't want to rely on inline styling or scripting for this.
 */
.meter {
    --good-color: #40BB45;
    --ok-color: #FDD835;
    --bad-color: #CC4600;

    width: 100%;
    height: var(--meter-height);

    border-radius: 5px;
    overflow: hidden;
    background-color: #EEEEEE;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
}

.meter > div {
    height: inherit;
}

.meter[data-value="5"] > div {
    width: 100%;
    background-color: var(--good-color);
}

.meter[data-value="4.75"] > div {
    width: calc(4.75 * 20%);
    background-color: var(--good-color);
}

.meter[data-value="4.5"] > div {
    width: calc(4.5 * 20%);
    background-color: var(--good-color);
}

.meter[data-value="4.25"] > div {
    width: calc(4.25 * 20%);
    background-color: var(--good-color);
}

.meter[data-value="4"] > div {
    width: calc(4 * 20%);
    background-color: var(--good-color);
}

.meter[data-value="3.75"] > div {
    width: calc(3.75 * 20%);
    background-color: var(--good-color);
}

.meter[data-value="3.5"] > div {
    width: calc(3.5 * 20%);
    background-color: var(--good-color);
}

.meter[data-value="3.25"] > div {
    width: calc(3.25 * 20%);
    background-color: var(--ok-color);
}

.meter[data-value="3"] > div {
    width: calc(3 * 20%);
    background-color: var(--ok-color);
}

.meter[data-value="2.75"] > div {
    width: calc(2.75 * 20%);
    background-color: var(--ok-color);
}

.meter[data-value="2.5"] > div {
    width: calc(2.5 * 20%);
    background-color: var(--ok-color);
}

.meter[data-value="2"] > div {
    width: calc(2 * 20%);
    background-color: var(--ok-color);
}

.meter[data-value="1.75"] > div {
    width: calc(1.75 * 20%);
    background-color: var(--bad-color);
}

.meter[data-value="1.5"] > div {
    width: calc(1.5 * 20%);
    background-color: var(--bad-color);
}

.meter[data-value="1.25"] > div {
    width: calc(1.25 * 20%);
    background-color: var(--bad-color);
}

.meter[data-value="1"] > div {
    width: calc(1 * 20%);
    background-color: var(--bad-color);
}

.meter[data-value="0.75"] > div {
    width: calc(0.75 * 20%);
    background-color: var(--bad-color);
}

.meter[data-value="0.5"] > div {
    width: calc(0.5 * 20%);
    background-color: var(--bad-color);
}

.meter[data-value="0.25"] > div {
    width: calc(0.25 * 20%);
    background-color: var(--bad-color);
}

.meter[data-value="0"] > div {
    width: 0;
    background-color: var(--bad-color);
}
