:root {
    --meter-height: 20px;
    --skills-font-size: 14pt;
}

.view-switcher.noscript {
    display: none;
}

.view-switcher:not(.noscript) {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
}

.view-switcher span:first-child {
    margin-right: 5px;
    font-size: 11pt;
    color: lightgray;
    font-style: italic;
    transition: color 0.2s ease;
    user-select: none;
}

.view-switcher:hover span:first-child {
    color: gray;
}

.view-switcher .button {
    cursor: pointer;
    color: dimgray;
}

.skills {
    margin: 10px 0;
    font-size: var(--skills-font-size);
    animation: fadeIn 0.3s ease;
}

.skills .entry .qualifier {
    font-style: italic;
    font-size: 80%;
    color: gray;
}

/* Grid format (default) */
.skills.grid {
    --item-width: 160px;
    --item-height: 100px;

    --item-icon-size: 30pt;
    --indicator-font-size: 10pt;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--item-width), 1fr));
    row-gap: 10px;
    column-gap: 10px;
}

.skills.grid .entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: var(--item-height);

    border: 1px solid gainsboro;
    border-radius: 5px;

    padding: 10px 10px 0 10px;
    box-sizing: border-box;

    cursor: pointer;

    transition: border-color 0.2s linear;
}

.skills.grid .entry:hover {
    border-color: dimgray;
}

.skills.grid .entry > .icon {
    height: var(--item-icon-size);
    object-fit: contain;
    margin-bottom: 5px;
}

.skills.grid .entry > .name {
    word-wrap: break-word;
    width: 100%;
    text-align: center;
}

.skills.grid .entry > .meter {
    height: 10px;
    margin-top: 3px;
}

.skills.grid .entry > .indicator {
    font-size: var(--indicator-font-size);
    color: gray;
    margin: 3px 0;
}

/* List format */
.skills.list {
    --indicator-font-size: 10pt;

    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
    max-width: 550px;
}

.skills.list .entry {
    display: grid;
    grid-template-columns: 18pt 3fr 7fr auto;
    column-gap: 10px;
}

.skills.list .entry > .icon {
    width: 18pt;
    height: 18pt;
    object-fit: contain;
    margin: auto;
}

.skills.list .entry > .indicator {
    font-size: var(--indicator-font-size);
    width: 3em;
    color: gray;
}

/*
 * No meter tag because Chromium is broken:
 * https://bugs.chromium.org/p/chromium/issues/detail?id=632510
 */
.meter {
    --good-color: #40BB45;
    --ok-color: #FDD835;
    --bad-color: #CC4600;

    width: 100%;
    height: var(--meter-height);

    border-radius: 5px;
    overflow: hidden;
    background-color: #EEEEEE;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
}

.meter > div {
    height: inherit;
}

.meter.meter-good > div {
    background-color: var(--good-color);
}

.meter.meter-ok > div {
    background-color: var(--ok-color);
}

.meter.meter-bad > div {
    background-color: var(--bad-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
