* {
    --navbar-margin: 40px;
    --navbar-padding: 10px;
    --navbar-height: 36px;

    --description-font-size: 28pt;
    --description-line-height: 1.7;

    font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', sans-serif;
    margin: 0;
}

h1 {
    font-size: 48pt;
}

h2 {
    font-size: var(--description-font-size);
    line-height: var(--description-line-height);
}

#container {
    max-width: 1000px;
    margin: 40px auto;

    box-sizing: border-box;

    padding: 30px 60px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

#description-wrapper {
    position: relative;
    overflow: hidden;
    font-size: var(--description-font-size);
    height: calc(var(--description-font-size) * var(--description-line-height));
}

#description-wrapper.animated h2 {
    animation: 0.4s ease-in-out 0.7s slideUp;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#description-wrapper h2 {
    color: gray;
    max-width: 750px;
}

#description2 {
    position: absolute;
    top: calc(-1 * var(--description-font-size) * var(--description-line-height));
}

@keyframes slideUp {
    from {
        translate: 0 0;
    }
    to {
        translate: 0 calc(var(--description-font-size) * var(--description-line-height));
    }
}

#navbar-wrapper {
    display: flex;

    position: fixed;
    left: var(--navbar-margin);
    right: var(--navbar-margin);
    bottom: var(--navbar-margin);
}

#navbar {
    display: inline-block;

    color: white;
    background-color: black;
    opacity: 80%;
    margin: auto;

    height: calc(2 * var(--navbar-padding) + var(--navbar-height));
    box-sizing: border-box;

    padding: var(--navbar-padding);
    border-radius: 5px;
}

#navbar .separator {
    width: 1px;
    height: 100%;
    margin: 0 5px;
    background-color: gray;
    font-size: 36px;
    display: inline-block;
}

#navbar a {
    color: inherit;
}

#navbar i.material-icons {
    font-size: 36px;
}
