* {
    --navbar-margin: 40px;
    --navbar-padding: 10px;
    --navbar-height: 36px;

    --head-font-size: 48pt;

    --description-font-size: 28pt;
    --description-line-height: 1.7;

    --container-width: 1000px;

    font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', sans-serif;
    margin: 0;
}

h1 {
    font-size: var(--head-font-size);
}

h1 a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

h2 {
    font-size: var(--description-font-size);
    line-height: var(--description-line-height);
}

#container {
    max-width: var(--container-width);
    margin: 40px auto;

    box-sizing: border-box;

    padding: 30px 60px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

#navbar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    width: 100%;
}

#navbar-top-container {
    width: 100%;
}

#navbar-arrow {
    display: flex;
    flex-direction: row;

    height: calc(var(--description-line-height) * var(--description-font-size));
    padding-right: 10px;

    cursor: pointer;
}

#navbar-arrow img {
    transition: transform 0.2s ease;
}

#navbar-arrow img {
    transform: rotate(0deg);
}

#navbar-arrow.clicked img {
    transform: rotate(90deg);
}

#navbar-top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar-top {
    opacity: 0;
    height: 0;
    visibility: hidden;
    transition: opacity 0.3s linear;
}

#navbar-top.opened {
    opacity: 1;
    height: auto;
    visibility: visible;
}

#navbar-top * {
    font-size: var(--description-font-size);
    font-family: 'Bree Serif', sans-serif;
}

#navbar-top a {
    color: black;
    text-decoration: none;
}

#description-wrapper {
    position: relative;
    overflow: hidden;
    font-size: var(--description-font-size);
    width: 100%;
    height: calc(var(--description-font-size) * var(--description-line-height));

    cursor: pointer;
}

#description-wrapper.animated h2 {
    animation: 0.4s ease-in-out 0.7s slideUp;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#description-wrapper h2 {
    color: gray;
    max-width: 750px;
    user-select: none;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#description2 {
    position: absolute;
    top: calc(-1 * var(--description-font-size) * var(--description-line-height));
}

#navbar-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar-bottom a {
    margin: 0 1px;
}

#navbar-bottom img {
    margin: 0 2px;
}

#navbar-bottom a {
    color: black;
}

.vseparator {
    display: inline-block;
    height: 24px;
    width: 1px;
    margin: 0 5px;
    background-color: gray;
}

@keyframes slideUp {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, calc(var(--description-font-size) * var(--description-line-height)));
    }
}

@keyframes rotate90 {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
