* {
    --navbar-margin: 40px;
    --navbar-padding: 10px;
    --navbar-height: 36px;

    --head-font-size: 48pt;

    --description-font-size: 28pt;
    --description-line-height: 1.7;

    --container-width: 1000px;

    font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', sans-serif;
    margin: 0;
}

h1 {
    font-size: var(--head-font-size);
}

h2 {
    font-size: var(--description-font-size);
    line-height: var(--description-line-height);
}

#container {
    max-width: var(--container-width);
    margin: 40px auto;

    box-sizing: border-box;

    padding: 30px 60px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

#navbar-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;

    cursor: pointer;
}

#navbar-arrow {
    margin-right: 10px;
}

#navbar-arrow img {
    transition: transform 0.2s ease;
}

#navbar-arrow img {
    transform: rotate(0deg);
}

#navbar-arrow.clicked img {
    transform: rotate(90deg);
}

#description-wrapper {
    position: relative;
    overflow: hidden;
    font-size: var(--description-font-size);
    width: 100%;
    height: calc(var(--description-font-size) * var(--description-line-height));
}

#description-wrapper.animated h2 {
    animation: 0.4s ease-in-out 0.7s slideUp;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#description-wrapper h2 {
    color: gray;
    max-width: 750px;
    user-select: none;
}

#description2 {
    position: absolute;
    top: calc(-1 * var(--description-font-size) * var(--description-line-height));
}

#navbar-bottom a {
    color: black;
}

@keyframes slideUp {
    from {
        translate: 0 0;
    }
    to {
        translate: 0 calc(var(--description-font-size) * var(--description-line-height));
    }
}

@keyframes rotate90 {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(0deg);
    }
}
