:root.theme-light {
    --main-content-color: black;
    --side-content-color: gray;
    --subtle-content-color: lightgray;

    --block-background-color: aliceblue;
    --alt-block-background-color: aliceblue;

    --background-color: white;

    --focus-border-color: dimgray;
    --border-color: gainsboro;

    --link-color: #0074D9;
}
