<section>
    <h3>About me</h3>
    <p>
        I am {{age}} and a student, currently studying in central Europe.
    </p>
    <p>
        <i>You can view my résumé <a href="/static/resume.pdf">here</a>.</i>
    </p>
</section>

<section>
    <h4>Personal information</h4>
    <table>
        <tbody>
        <tr>
            <th scope="row">Nationality</th>
            <td>
                <img class="flag cut-left" src="/static/image/flag_us.svg" alt="US"/>
                United States
            </td>
        </tr>
        <tr>
            <th scope="row">Languages</th>
            <td>
                <ul>
                    <li>
                        <img class="flag cut-center" src="/static/image/flag_uk.svg" alt="UK"/>
                        English (native)
                    </li>
                    <li>
                        <img class="flag cut-center" src="/static/image/flag_de.svg" alt="DE"/>
                        German (fluent)
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</section>

<section>
    <h4>Miscellaneous</h4>
    <p>
        If I'm not working on an assignment or trying to squash some bugs, I enjoy things like
        listening to music and learning what I can about how the world works.
    </p>

    <p>
        I also contribute occasionally <a href="https://stackoverflow.com/users/7366707/">on StackOverflow</a>;
        at the moment I am a proud recipient of the bronze Java, Kotlin and Android tag badges.
    </p>
    <p>
        <a href="https://stackoverflow.com/users/7366707"><img id="so-flair" src="https://stackoverflow.com/users/flair/7366707.png" width="208" height="58" alt="profile at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>
    </p>

    <p>
        I'm also somewhat interested in learning languages; I can speak, read and write English and German, and understand basic spoken Mandarin Chinese.

        <span class="side-smaller">
            I can transliterate written Greek and Cyrillic, but those are mostly skills I picked up while traveling, and decided to develop further during my free time.
        </span>
    </p>

    <p>
        <sub class="subtle">I use Arch btw</sub>
    </p>
</section>
