<section>
    <h3>About me</h3>
    <p>
        I am {{age}} and a student, currently studying in central Europe.
    </p>
</section>

<section>
    <h4>Personal information</h4>
    <table>
        <tbody>
        <tr>
            <th scope="row">Nationality</th>
            <td>United States</td>
        </tr>
        <tr>
            <th scope="row">Languages</th>
            <td>English (native), German (fluent)</td>
        </tr>
        </tbody>
    </table>
</section>

<section>
    <h4>Miscellaneous</h4>
    <p>
        If I'm not working on an assignment or trying to squash some bugs, I enjoy things like
        listening to music and learning what I can about how the world works.
    </p>
    <p>
        I also contribute occasionally <a href="https://stackoverflow.com/users/7366707/">on StackOverflow</a>;
        at the moment I am a proud recipient of the bronze Kotlin and Android tag badges.
    </p>
</section>

<sub>I use Arch btw</sub>
