<section>
    <h3>About me</h3>
    <p>
        I am {{age}} and a student, currently studying in central Europe.
    </p>
    <p>
        <i>You can view my résumé <a href="/static/resume.pdf">here</a>.</i>
    </p>
</section>

<section>
    <h4>Personal information</h4>
    <table>
        <tbody>
        <tr>
            <th scope="row">Nationality</th>
            <td>United States</td>
        </tr>
        <tr>
            <th scope="row">Languages</th>
            <td>English (native), German (fluent)</td>
        </tr>
        </tbody>
    </table>
</section>

<section>
    <h4>Miscellaneous</h4>
    <p>
        If I'm not working on an assignment or trying to squash some bugs, I enjoy things like
        listening to music and learning what I can about how the world works.
    </p>
    <p>
        I also contribute occasionally <a href="https://stackoverflow.com/users/7366707/">on StackOverflow</a>;
        at the moment I am a proud recipient of the bronze Java, Kotlin and Android tag badges.
    </p>
    <p>
        <a href="https://stackoverflow.com/users/7366707"><img src="https://stackoverflow.com/users/flair/7366707.png" width="208" height="58" alt="profile at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>
    </p>
    <p>
        <sub>I use Arch btw</sub>
    </p>
</section>
