<!DOCTYPE html>
<html lang="en" class="theme-light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=480, maximum-scale=1.0">

    <title>stuhlmeier</title>

    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    {{>head}}
</head>

<body>
    <div id="container">
        <div id="container-head">
            <h1><em>stuhlmeier</em></h1>
            <h2>Kotlin veteran, Arch enthusiast, open-source lover.</h2>

            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/overview">Skills</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/resume">R&eacute;sum&eacute;</a></li>
                </ul>
            </nav>
        </div>
        <hr>
        <main>
            {{>main}}
        </main>
        <hr>
        <footer id="container-foot">
            <p class="timestamp">Last rendered on {{timestamp}}.</p>
        </footer>
    </div>

    <script>
        const query = [...new Array(6).keys()].map(i => `main section h${i + 1}:first-child`).join(", ");
        for (const heading of document.querySelectorAll(query)) {
            if (heading.id) {
                const link = document.createElement("a");
                link.classList.add("heading-anchor");

                link.href = `#${heading.id}`;
                link.innerHTML = "§";

                heading.prepend(link);
            }
        }
    </script>
    <script>
        twemoji.parse(document.body);
    </script>
</body>
</html>
