<!DOCTYPE html>
<html lang="en" class="theme-light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=480, maximum-scale=1.0">

    <title>stuhlmeier</title>

    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    {{>head}}
</head>

<body>
    <div id="container">
        <div id="container-head">
            <h1><em>stuhlmeier</em></h1>
            <!-- <h2>Kotlin enthusiast</h2> -->
            <!-- Note: I'm not really sure what I want as the subheading, as I'm currently exploring other areas of expertise, so I'll remove it for now. -->

            <div id="nav-container">
                <nav id="left-nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/overview">Skills</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/resume">Résumé</a></li>
                    </ul>
                </nav>
                <nav id="right-nav">
                    <ul>
                        <li><a href="https://github.com/stuhlmeier/"><img src="/static/image/logo/github.svg" alt="GH"/></a></li>
                        <li><a href="https://stackoverflow.com/users/7366707/moira"><img src="/static/image/logo/stackoverflow.svg" alt="SO"/></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <hr>
        <main>
            {{>main}}
        </main>
        <hr>
        <footer id="container-foot">
            <p id="timestamp">Last rendered on {{timestamp}}.</p>
            <p>Made from scratch with Kotlin and Mustache ♥</p>
        </footer>
    </div>

    <script>
        const query = [...new Array(6).keys()].map(i => `main section h${i + 1}:first-child`).join(", ");
        for (const heading of document.querySelectorAll(query)) {
            if (heading.id) {
                const link = document.createElement("a");
                link.classList.add("heading-anchor");

                link.href = `#${heading.id}`;
                link.innerHTML = "§";

                heading.prepend(link);
            }
        }
    </script>
    <script>
        for (const block of document.querySelectorAll(".block[id]")) {
            if (block.id) {
                let special = block.querySelector(".special");
                if (!special) {
                    special = document.createElement("div");
                    special.classList.add("special");

                    block.prepend(special);
                }

                const link = document.createElement("a");
                link.classList.add("block-anchor");

                link.href = `#${block.id}`;
                link.innerHTML = "§";

                special.append(link);
            }
        }
    </script>
    <script>
        twemoji.parse(document.body);
    </script>
</body>
</html>
