<section>
    <h2 id="about">About me</h2>
    <p>
        Hi! This is my website.
    </p>
    <p>
        I'm a {{age}}-year-old student currently studying in central Europe.
    </p>
    <p>
        You might know me <a href="https://stackoverflow.com/users/7366707/moira">from Stack Overflow</a>; I occasionally check the Kotlin tag for any interesting questions and answers, or to see if I might be able to help someone out once in a while.
    </p>
    <p>
        I've done work on various projects in my free time,
        such as a <a href="https://github.com/stuhlmeier/kotlin-taskqueue">job processing</a> and
        <a href="https://github.com/stuhlmeier/kotlin-events">event handling</a> system for Kotlin.
        I've also written <a href="https://github.com/stuhlmeier/gdpr">a summary of the GDPR</a> (CC-BY-SA) that may be helpful.
    </p>
    <p>
        You can view <a href="/overview">an overview of what I can do</a> and <a href="/projects">a more comprehensive list of projects</a> I've worked on, as well as <a href="/resume">my (abridged) résumé</a>, if that's why you're here.
    </p>
</section>
<section>
    <h3 id="personal">Personal information</h3>
    <div>
        <table>
            <tbody>
                <tr>
                    <th scope="row">Citizenship</th>
                    <td>🇺🇸 United States of America, 🇦🇹 Republic of Austria</td>
                </tr>
                <tr>
                    <th scope="row">Languages</th>
                    <td>🇬🇧 English (native), 🇩🇪 German (fluent)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <section>
        <h4 id="misc">Languages</h3>
        <p>
            As I've spent most of my life on the move, I have lived and had quite a bit of experience in various places around the world.
            Perhaps as a consequence of this, I enjoy trying to learn new languages.
        </p>
        <div class="block">
            <div class="special"><span class="tag">zh</span></div>
            您好！我从小就学一点儿中文，因此但是我一陣子没说了，因此我的知识可能不完整。
        </div>
        <div class="block">
            <div class="special"><span class="tag">jp</span></div>
            こんにちは！日本語を習っています、でも、まだ下手なんです。
        </div>
    </section>

</section>
<section>
    <h4 id="misc">Miscellaneous</h3>
    <p>
        I work primarily on (Arch) Linux as the quality of the tooling is simply unbeatable.
        Of course, I've used Windows fairly frequently regardless, because there's still enough software out there that unfortunately isn't entirely Linux-friendly, such as Unity, Office, Creative Cloud, etc.
    </p>
    <p>
        While I have owned a Mac and had experience with macOS, I don't really like working with it as much as I do with Linux/BSD; it feels very restrictive, and it's too far in between free and non-free for my tastes.
    </p>
</section>
