<section>
    <h3>What I do</h3>
    <p>
        I am a student who builds software in various fields, for various platforms, in their free time.
        At the moment, my favorite technologies to use are Kotlin and C++ (with Meson, of course.)
    </p>
    <p>
        <i>You can view my résumé <a href="/static/resume.pdf">here</a>.</i>
    </p>
</section>
<section>
    <h3>My skills</h3>
    {{#categories}}
        <section>
            <div class="view-switcher noscript">
                <span>View mode:</span>
                <i class="material-icons button">grid_on</i>
            </div>
            <h4>{{name}}</h4>
            <div class="skills list">
                {{#skills}}
                    <div class="entry">
                        <img class="icon" src="{{icon_path}}"/>
                        <span class="name">{{name}}{{#qualifier}}
                            <span class="qualifier">{{qualifier}}</span>{{/qualifier}}</span>
                        <div class="meter {{meter_class}}" title="{{proficiency}}/5.0">
                            <div style="{{{meter_style}}}"></div>
                        </div>
                        <span class="indicator">{{meter_percentage}}</span>
                    </div>
                {{/skills}}
            </div>
            {{{description}}}
        </section>
    {{/categories}}
</section>

<script>
    for (const e of document.querySelectorAll(".noscript")) {
        e.classList.remove("noscript");
    }

    for (const e of document.querySelectorAll(".skills")) {
        e.classList.remove("list");
        e.classList.add("grid");
    }
</script>
