<section>
    <h2 id="top">What I do</h3>
    <p>
        I write software in various fields, for various platforms.
    </p>
    <p>
        At the moment, my favorite technologies to use are Kotlin and C++ (with Meson, of course.)
    </p>
    <p>
        You can view my résumé <a href="/resume">here</a>.
    </p>
</section>
<section>
    <h3 id="skills">My skills</h3>
    {{#categories}}
        <section>
            {{^id}}
            <div class="block">
            {{/id}}
            {{#id}}
            <div class="block" id="{{id}}">
            {{/id}}
                <h4>{{name}}</h4>
                <div class="overview">
                    {{#skills}}
                        <div class="entry">
                            <img class="icon" src="{{icon_path}}"/>
                            <span class="name">{{name}}{{#qualifier}}
                                <span class="qualifier">{{qualifier}}</span>{{/qualifier}}</span>
                            <div class="meter {{meter_class}}" title="{{proficiency}}/5.0">
                                <div style="{{{meter_style}}}"></div>
                            </div>
                            <span class="indicator">{{meter_percentage}}</span>
                        </div>
                    {{/skills}}
                </div>
            </div>
            {{{description}}}
        </section>
    {{/categories}}
</section>

<script>
    for (const e of document.querySelectorAll(".noscript")) {
        e.classList.remove("noscript");
    }

    for (const e of document.querySelectorAll(".skills")) {
        if (e.classList.contains("list")) {
            e.classList.remove("list");
            e.classList.add("grid");
        }
    }
</script>
