{{#projects}}
    <section class="project">
        <h3>
            {{#url}}<a href="{{url}}">{{name}}</a>{{/url}}
            {{^url}}{{name}}{{/url}}
        </h3>
        <img class="icon" src="{{icon_path}}"/>
        <ul class="tag-list">
            {{#tags}}
                <li class="tag {{tag_class}}" {{#tag_description}}title="{{tag_description}}"{{/tag_description}}>
                    {{#tag_icon_path}}
                        <img src="{{tag_icon_path}}"/>
                    {{/tag_icon_path}}
                    {{tag}}
                </li>
            {{/tags}}
        </ul>
        <p>
            {{#brief}}<span class="brief">{{{brief}}}</span>{{/brief}}
            {{#description}}{{{description}}}{{/description}}
        </p>
    </section>
{{/projects}}
